<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js" defer></script>
</head>
<body>
    <h1>{{ section }} Testlar</h1>
    <div id="test-container"></div>
    <button onclick="location.href='/test_sections'">Orqaga</button>
    <script>
        let tests = {{ tests | tojson }};
        startTest(tests);
    </script>
</body>
</html>
