<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Bo‘limlari</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Test bo‘limlarini tanlang</h1>
    {% for start, end in sections %}
        <button onclick="location.href='/get_tests/{{ start // 10 }}'">TEST {{ start+1 }}-{{ end+1 }}</button>
    {% endfor %}
    <button onclick="location.href='/'">Orqaga</button>
</body>
</html>
